html,body {
    height: 100%;
}
.f-right {
    float: right !important;
}
.f-left {
    float: left !important;
}
.no-border {
    border: none !important;
}
.theme--light.v-messages {
    color: red;
}
.page-padding {
    padding: 10px;
}
.my-shadow {
    -moz-box-shadow:2px 2px 3px #868686; 
    -webkit-box-shadow:2px 2px 3px #868686; 
    box-shadow:2px 2px 3px #868686;
}
.my-content {
    padding: 12px;
}
.list-title {
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #868686;
}
.weight {
    font-weight: bold;
}
.my-alert {
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0px;
}
.data-tabel {
    margin-bottom: 10px;
}
.search-bar {
    padding: 10px 5px;
    overflow: hidden;
    margin-bottom: 10px;
    background: #FFFFFF;
}
.search-bar .search-item {
    float: left;
    margin-right: 20px;
    max-width: 200px;
    overflow:hidden;
}